{%extends 'resume/html/base.html'%}
{%load static%}
{%block head%}
<link rel="stylesheet" href="{%static 'resume/css/blog.css'%}">
{%endblock head%}
{%block body%}
<section class="section" >
        <div class="container">
            <div class="section__header__blog">
                <h2 class="section__title__blog">Блог</h2>
            </div>
            <div class="blog">
                <div class="blog__item">
                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="{%static 'resume/img/blog/1.jpg'%}" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date-day">15</div>
                            Jan
                        </div>
                    </div>
                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </div>
                        <div class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i> 542
                            </span>
                            <span class="blog-stat__item">
                                <i class="far fa-comment-dots"></i> 17
                            </span>
                        </div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="{%static 'resume/img/blog/2.jpg'%}" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date-day">15</div>
                            Jan
                        </div>
                    </div>
                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </div>
                        <div class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i> 542
                            </span>
                            <span class="blog-stat__item">
                                <i class="far fa-comment-dots"></i> 17
                            </span>
                        </div>
                    </div>
                </div>
                <div class="blog__item">
                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="{%static 'resume/img/blog/3.jpg'%}" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date-day">15</div>
                            Jan
                        </div>
                    </div>
                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </div>
                        <div class="blog__text">Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </div>
                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i> 542
                            </span>
                            <span class="blog-stat__item">
                                <i class="far fa-comment-dots"></i> 17
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%endblock body%}